@font-face {
	font-family: 'Stepalange';
	src: url(fonts/stepalange-font/Stepalange.otf);
}

@font-face {
	font-family: 'StepalangeShort';
	src: url(fonts/stepalange-font/StepalangeShort.otf);
}
